* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  
  padding-left: 5%;
  padding-right: 5%;
}

.heading {
  color: red;
  font-weight: bold;
  font-size: xx-large;
  padding-top: 1%;
  padding-bottom: 1%;
}

.form {
  display: flex;
  flex-direction: column; /* Adjusted for responsiveness */
  align-items: center; /* Adjusted for responsiveness */
}

.inputs {
  width: 100%; /* Adjusted for responsiveness */
  margin-bottom: 1rem; /* Added for spacing */
}

.buttons {
  width: 100%; /* Adjusted for responsiveness */
  display: flex;
  justify-content: space-around; /* Adjusted for responsiveness */
  margin-left: 0; /* Removed for responsiveness */
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.parent {
  width: 100%;
  margin: auto;
  padding: 2rem;
  background: rgb(255, 255, 255);
  border-radius: 25px;
  box-shadow: 7px 20px 20px rgb(210, 227, 244);
  display: flex;
  flex-direction: column; /* Adjusted for responsiveness */
  align-items: center; /* Adjusted for responsiveness */
}

.file-upload {
  text-align: center;
  padding: 1.5rem;
  position: relative;
  cursor: pointer;
}

.img {
  height: 100px;
  width: 100px;
}

.file-upload p {
  font-size: 0.87rem;
  margin-top: 10px;
  color: rgb(232, 22, 22);
}

.file-upload input {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}


@media (min-width: 300px) and (max-width: 430px){
  .form,
  .preview {
    flex: 1;
    width: 100%;
  }
}




